.message {
    height: 20vh;
    display: flex;
    background-color: white;
    justify-content: flex-end;
    padding: 1em;
    margin-right: 5vh;
    flex-direction: column;



}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;



}

.imageAndText img {
    height: 12vh;
    padding: 1vh;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    height: 10vh;
    background-color: #0066cc;
    color: #F5F7FB;
    padding: 1vh;
    padding: 1vh;
    border-radius: 2vh;
}

.text:after {

}


.messageText {

}

.name {
font-weight: 600;
    padding: 1px;

}

.time {
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    align-self: flex-end;
    margin-right: 3vh;


}