.sidebar {
}

.sidebar.open {
}

.background {
}

.nav {
    color: #0059b3;
}

.nav a {
    color: #00cc22;
}

.nav a:hover {
    color: #cc9c00;
}

.nav a.active {
    color: #cc0000;
}
.close {
}

.close img {
}
